* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.background {
  width: 100vw;
  height: 100vh;
  background-color: gray;
  cursor: pointer;
}

.wrapper {
  max-width: 768px;
  max-height: 100vh;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.popap {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background-color: purple;
  cursor: default;
}

.history div:first-child::after {
  content: " - последний результат";
}

.main {
  padding: 20px;
  position: absolute;
  top: 40%;
  font-size: 4vh;
}

.z-3 {
  z-index: 3;
}
